

html{
    font-size: 62.5; 
   
}

.container-normas{
    position:relative;
    top:2rem;
    width: 90%;
    //height: 100%;
    margin: auto;
    z-index: 1;
    
    
}

.container-normas th{
    text-align: center;    
}


.table{
    position:relative;
    
}



// .table {
//     position:relative;
//     top:2rem;


//     padding: 0.8rem 1rem;
//     background-color: rgb(189, 181, 181);
//     display: inline-block;

//     margin: 0 auto;
//     border-radius: 0.2rem;
// }

// tr {
    
// }

// td{
//     display: inline;
//     font-family: "Helvetica Neue",Helvetica,Arial;
//     font-size: 1rem;
//     font-weight: 400;
//     padding: 0 1rem;
// }

// .title-table th{
//     display: inline;
//     font-family: "Helvetica Neue",Helvetica,Arial;
//     font-size: 1rem;
//     font-weight: 400;
//     padding: 0 4rem;
// }

// .content-table td{
//     margin: 2rem 0 ;
// }

.modal{
    position: relative;
    z-index: 1;
}
